social-links-profile-main/AGENTS.md
social-links-profile-main/.gitignore
social-links-profile-main/CLAUDE.md
social-links-profile-main/preview.jpg
social-links-profile-main/README-template.md
social-links-profile-main/README.md
social-links-profile-main/style-guide.md
social-links-profile-main/assets/fonts/Inter-VariableFont_slnt,wght.ttf
social-links-profile-main/assets/fonts/OFL.txt
social-links-profile-main/assets/fonts/README.txt
social-links-profile-main/assets/fonts/static/Inter-Bold.ttf
social-links-profile-main/assets/fonts/static/Inter-Regular.ttf
social-links-profile-main/assets/fonts/static/Inter-SemiBold.ttf
social-links-profile-main/design/active-states.jpg
social-links-profile-main/design/destkop-design.jpg
social-links-profile-main/design/mobile-design.jpg
